.moving_section_main_container,
.moving_section_main_container_dark{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 6rem 0;
}
.moving_section_main_container{
      background-color: #F0F0F0;  
}
.moving_section_container{
    width: 100%;
    max-width: 1140px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem 0;
}
/* for websites */
.moving_section_main_container_dark > div:first-child{
    background-color:rgb(18, 18, 18);
}
.moving_section_main_container_dark > div:first-child > h2{
    color: white;
    font-size: 50px;
    font-family: var(--font-fam);
    font-weight: 300;
    margin-bottom: 0.3rem;
    z-index: 2;
}
.moving_section_container > p:nth-child(2){
    color: white;
    font-size: 1rem;
    font-family: var(--font-fam);
    margin-bottom: 1.5rem;
}
.moving_section_container > span > h2{
    font-family: var(--font-fam);
    font-size: 35px;
    font-weight: 500;
    color: #333333;
    letter-spacing: -1px;
    margin-bottom: 0.5rem;
    line-height: 35px;}
.moving_section_container > span > h2 > svg{
    width: 15px;
    height: 15px;
    min-width: 15px;
    min-height: 15px;
}
.moving_section_container > span h2:nth-child(1){
    text-align: start;
    /* margin-left: -120px; */
}
.moving_section_container > span h2:nth-child(2){
    /* margin-right: -120px; */
    text-align: end;
}
.moving_section_animation_container{
    width: 100%;
    max-width: 1140px;
}
.moving_section{
    width: 100%;
    max-width: 1140px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    /* background-color: aliceblue; */
    z-index: 9;
    gap: 10px;
    /* overflow-y: scroll; */
    position: relative;
}
.moving_section::-webkit-scrollbar,
.second_moving_section::-webkit-scrollbar{
    display: none;
}
.moving_section_item{
    background-color: white;
    width: 200px;
    height: 110px;
    max-width: 180px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    overflow: hidden;
    user-select: none;
}
.moving_section_item > img{
    width: 60%;
    height: 100%;
    object-fit: contain;
    user-select: none;
}
@media screen and (max-width: 800px){
     .moving_section_main_container_dark > div:first-child > h2 {
        font-size: 28px;
         line-height: 28px;
     } 
    .moving_section_container > span h2:nth-child(1){
       margin-left: 0px;
       width: 100%;
       margin-left: -20%;
       text-align: start;
    }
    .moving_section_container > span h2:nth-child(2){
      margin-right: 0px;
      width: 100%;
      margin-right: -20%;
       text-align: end;
    }
    .moving_section_container > span{
    margin: 1rem 0 0.5rem 0;
}
.moving_section_item{
    background-color: white;
    width: 150px;
    min-width:150px;
    height: 80px;
    margin: 5px;
}
.moving_section_item> img{
    width: 70%;
}
}