.moving_section_container{
    width: 100%;
    max-width: 1500px;
    background-color: rgb(229, 229, 229);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem 0;
}
.moving_section_container > h1{
    font-size: 2rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 1rem;
}
.moving_section,
.second_moving_section{
    width: 100%;
    max-width: 1000px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    z-index: 999;
    overflow-y: scroll;
    position: relative;
}.moving_section::-webkit-scrollbar,
.second_moving_section::-webkit-scrollbar{
    display: none;
}
.moving_section_item{
    background-color: white;
    width: 250px;
    height: 130px;
    min-width: 300px;
    margin: 8px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    overflow: hidden;
    user-select: none;
}
.moving_section_item > img{
    width: 60%;
    object-fit: contain;
    user-select: none;
}