.homePachete_background{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5rem 0px;
}
.homePachete_container{ 
    width: 100%;
    max-width: 1140px; 
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}
.homePachete_container > h1{
    width: 100%;
    text-align: center;
    font-size: 2.5rem;
    font-family: var(--font-fam);
    font-weight: 600;
}
.homePachete_container > h2{
    text-align: center;
    font-size: 1.3rem;
    font-weight: 400;
    color: #666;
    margin-bottom: 1.5rem;
    font-family: var(--fontFam);
}
.homePachete_text{
    width: 100%;
    max-width: 500px;
}
.home_plans_btn{
    display: block;
width: 365px;
text-decoration: none;
text-align: center;
font-family: var(--font-fam);
color: white;
background-color: var(--green);
padding: 15px 30px;
border: none;
border-radius: 5px;
margin-top: 1.2rem;
font-size: 1.2rem;
font-weight: 500;
padding: 9px 0;
box-shadow: -2px 4px 4px rgba(0, 0, 0, 0.2);


}
.homePachete_cards{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}
.homePachete_first_card,
.homePachete_third_card {
    width: 365px;
    min-height: 361px;
    background-color: #f7f9f8;
    border-radius: 5px;
    padding: 2rem;
    box-shadow: -2px 4px 4px rgba(0, 0, 0, 0.2);
    position: relative;
}
.homePachete_second_card{
    width: 365px;
    min-height: 362px;
    background-color:var(--green);
    border-radius: 5px;
    padding: 2rem;
    box-shadow: -2px 4px 4px rgba(0, 0, 0, 0.2);
    position: relative;
}
.homePachete_second_card span:first-child{
    color: white;
    font-family: var(--font-fam);
    font-weight: 500;
    font-size: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.homePachete_second_card > .homePachetete_text,
.homePachete_second_card > .homePachetete_text > svg{
    color: white !important;
}

.homePachete_first_card span:first-child,
.homePachete_third_card span:first-child{
    font-family: var(--font-fam);
    font-weight: 500;
    font-size: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    color: var(--green);
    margin-bottom: 10px;
}
.homePachete_first_card span:first-child > svg,
.homePachete_second_card span:first-child > svg,
.homePachete_third_card span:first-child > svg{
    margin-left: 10px;
    width: 25px;
    height: 25px;
    min-width: 25px;
    min-height: 25px;
}
.homePachetete_text{
    width: 100%;
    display: flex;
    font-family: var(--font-fam);
    font-size: 1.15rem;
    color: #333;
    margin-bottom: 7px;
    letter-spacing: 0.3px;
}
@media screen and (max-width:700px){
    .homePachete_background{
        padding: 5rem 2rem;
    }
    .homePachete_container > h1{
        font-size: 29px;
        font-family: var(--font-fam);
        margin-bottom: -3px ;
    }
    .homePachete_container > h2{
        font-size: 16px;
    }
    .homePachete_first_card span:first-child,
    .homePachete_second_card span:first-child,
    .homePachete_third_card span:first-child {
        font-size: 21px;
        margin-bottom: 5px;
        
    }

    .homePachete_first_card span:first-child > svg,
    .homePachete_second_card span:first-child > svg,
    .homePachete_third_card span:first-child > svg {
        width: 18px;
        height: 18px;
        min-width: 18px;
        min-height: 18px;
        margin-left: 7px;
    }

    .homePachetete_text {
        font-size: 16px;
        margin-bottom: 2px;
        letter-spacing: 0.2px;
    }

    .homePachete_first_card,
    .homePachete_second_card,
    .homePachete_third_card {
        min-height: 250px;
        padding: 1.5rem 3rem;
        margin: 2px 0;
    }
    .home_plans_btn{
      font-size: 16px;
      letter-spacing: 0.2px;
    }
}
