.homeBranding_container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.homeBranding_business_card {
    width: 350px;
    height: 200px;
    position: relative;
    transform-style: preserve-3d;
    animation: rotate_card 5s linear infinite;
    box-shadow: 0 0 3px 3px rgb(219, 219, 219);
}

.homeBranding_side {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-size: cover;
}

.back {
    transform: rotateY(180deg);
}

@keyframes rotate_card {
    0% {
        transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    25% {
        transform: rotateX(10deg) rotateY(90deg) rotateZ(-5deg);
    }
    50% {
        transform: rotateX(20deg) rotateY(180deg) rotateZ(-10deg);
    }
    75% {
        transform: rotateX(10deg) rotateY(270deg) rotateZ(-5deg);
    }
    100% {
        transform: rotateX(0deg) rotateY(360deg) rotateZ(0deg);
    }
}
.homeBranding_text{
    max-width: 40vw;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.homeBranding_text > div{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.homeBranding_text > div > h1{
    font-family: "Roboto";
    font-weight: 700;
    color: #313131;
    font-size: 35px;
    margin-bottom: 10px;
}
.homeBranding_text > div > svg{
    width: 40px;
    height: 40px;
    color: #313131;
    margin-left: 5px;
}
.homeBranding_text > p{
    font-family: "Roboto";
    font-size: 17px;
    text-align: center;
    margin-bottom: 15px;
}
.homeBranding_text > button{
    padding: 7px 15px;
    border-radius: 4px;
    background: green;
    border: 1px solid green;
    font-family: "Roboto";
    font-weight: 500;
    color: white;
    transition: 0.3s ease;
    cursor: pointer;
}
.homeBranding_text > button:hover{
    background-color: rgb(0, 90, 0);
}
