 .plans_container{
    width: 100%;
    background-color: #F0F0F0;
    padding-top:80px;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    /* new */
    background-position: center center;
    background-repeat: repeat;
    position: relative;
    padding: 80px 3rem 0 3rem;
}
 .plans_container::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: rgba(0, 42, 10, 0.65);

 }
.plans_conteiner_intro_section{
    width: 100%;
    max-width: 1500px;
    min-width: 1000px;
    height: 100%;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 800px;
    z-index: 3;
    border-radius:20px;
    margin-bottom: 4rem;
    position: relative;
}
.plans_conteiner_intro_section::after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 20%;
    z-index: 3;
}
.plans_text_shadow{
    width: 100%;
    position: relative;
    max-width: 40%;
    min-width: 450px;
    height: 100%;
    min-height: 800px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 1rem 4rem;
    background: rgba(240, 240, 240, 0.9);
    border-radius: 20px 0 0 20px;
}
.plans_text_shadow > h1{
    width: 100%;
    max-width: 400px;
    min-width: 400px;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    text-align: start;
    color: #222222;
    font-size: 35px;
    font-weight: 500;
    margin-bottom: 20px;
    line-height: 35px;
}
.plans_text_shadow > h2{
    font-family: Roboto, Arial, Helvetica, sans-serif;
    color: black;
    font-size:18px;
    max-width: 600px;
}
.plans_text_shadow > h2:nth-child(3){    
    font-family: Roboto, Arial, Helvetica, sans-serif;
    color: black;
    font-size:18px;
    /* font-weight: 500; */
    max-width: 600px;
    margin-top: .5rem;
}
.plans_pannel_option{
    height: 100%;
    width: 1000px;
    min-width: 300px;
    /* min-height:300px; */
    background-color: white;
    border-radius: 15px;
    padding: 2rem 1rem;
    margin: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.06);
    background-color: #F0F0F0;
    position: relative;
    z-index: 7;
}

.plans_pannele_title_container{
    width: 100%;
    height: 100%;
    min-height: 300px;
    display: flex;
    align-items: center;    
    max-width: 270px;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-right: 2rem;
    border-radius: 15px;
    position: relative;
}

.plans_pannele_title_container > h1{
    font-family: Roboto, arial, Helvetica, sans-serif;
    color: var(--green);
    font-size: 35px;
    letter-spacing: -.5px;
    font-weight: 800;
    z-index: 9;
    margin-bottom: .8rem;

}
.plans_pannel_btn_conteiner{
    width: 100%;
    margin: .5rem 0;
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
}
.plans_pannel_btn_conteiner > a,
.plans_last_btn_conteiner > a{
    background-color: var(--green);
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    color: white;
    width: 150px;
    max-width: unset;
    font-size: 1rem;
    text-align: center;
    font-weight: 500;
    padding: 0.75rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    transition: 0.3s;
}
.plans_pannel_btn_conteiner > a:hover{
    background-color: var(--greenHover);
}

.plans_pannel_option div:nth-child(2) > ul > li{
    font-family: Roboto, arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #333333;
}
.plans_pannel_option div:nth-child(2) > ul > li, 
.plans_pannel_option div:nth-child(2){
    width: 100%;
    max-width: 500px;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}
.plans_final_text{
    margin:1rem 0 4rem 0;
    min-width: 1000px;
    color: #000000;
    z-index: 7;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: 400;
    text-align: center;
    width: 100%;
    background-color: rgb(255, 255, 255);
    width: 100%;
    max-width: 1000px;
    padding: 1rem 2rem;
    border-radius: 20px 5px 20px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.plans_last_btn_conteiner{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 1rem
}
@media screen and (max-width: 1000px){
 .plans_container{
    padding: 80px 1rem 0 1rem;
 }
 .plans_conteiner_intro_section{
    min-width: unset;
 }
 .plans_pannel_option{
    width: 100%;
    padding: 2rem 1rem;
    margin: 0.7rem;
}
.plans_final_text{
 min-width: unset;
}
}
@media screen and (max-width: 970px){
 .plans_container{
    padding-top:35px;
 }

}
@media screen and (max-width: 700px){
    .plans_pannel_option{
        flex-direction: column;
    }
    .plans_conteiner_intro_section{
        display: flex;
        align-items: end;
        justify-content: center;
        background-size:contain;
    }
    .plans_text_shadow{
    width: 100%;
    bottom: 0;
    left:0;
    right:0;
    max-width: unset;
    min-width: unset;
    min-height: unset;
    padding: 1rem;
    border-radius: 0px 0 20px 20px;
}
.plans_text_shadow > h1{
    width: 100%;
    max-width: unset;
    min-width: unset;
    text-align: start;
    font-size: 2rem;
    font-weight: bold;
    line-height: 38px;
    color: #1a202c;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    font-family: Roboto, Arial, sans-serif;
}
.plans_text_shadow > h2{
    font-family: Roboto, Arial, Helvetica, sans-serif;
    color: black;
    font-size: 17px;
    max-width: 100%;
    text-align: center;
}
.plans_pannele_title_container{
    min-height: unset;
    width: 100%;
    max-width: unset;
    margin-right: unset;
}
.plans_pannele_title_container > h1,
.plans_pannel_option_details{
    width: 100%;
    text-align: start;
}
.plans_pannel_btn_conteiner{
    align-items: start;
    justify-content: start;
    margin-bottom: 1rem;
}
.plans_pannele_title_container > h1{
    font-size: 30px;
}
.plans_final_text{
    text-align: start;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    padding: 1rem;
}
.plans_last_btn_conteiner{
    margin: 0.3rem 0
}
}