
.homeWebsites_container{
    width: 100%;
    height: 100%;
    background-color: black;
    position: relative;
    padding-top: 50px;  
    overflow: hidden;
}
.websites_matrix_container{
    width: 100%;
    height:100vh;
    max-height: 700px;
    overflow: hidden !important;
    overflow: hidden;
}
.websites_technology_used_container{
    background-color: white;
    z-index: 10;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 3rem 15px;
}
.websites_technology_used_container > h1{
    font-size: 30px;
    font-family: "Roboto";
    text-align: center;
    line-height: 35px;
    margin: 10px;
  
}
.websites_technology_used_scroll{
   max-width: 1000px;
   display: flex;
   align-items: flex-start;
   justify-content: flex-start;
   flex-direction: row;
   overflow-y: scroll;
}

.websites_technology_used_scroll::-webkit-scrollbar {
    display: none;
}
.websites_technology_used_scroll_shadows_and_content{
    width: 100%;
    max-width: 1000px;
    position: relative;
}
.websites_technology_used_scroll_shadows_and_content::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 1rem;
    height: 100%;
    background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
}
.websites_technology_used_scroll_shadows_and_content::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 1rem;
    height: 100%;
    background: linear-gradient(to left, white 0%, rgba(255, 255, 255, 0) 100%);
}
.websites_technology_used_scroll > span{
    min-width: 200px;
    background-color: black;
    margin: 0 10px;
    padding: 25px 40px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 15px;
}
.websites_technology_used_scroll > span > svg{
    width: 45px;
    height: 45px;   
}
.websites_matrix_container > span{
    color: #00ff00;
    display: flex;
    flex-direction: column;
    margin: 10px;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    opacity: 0;
    animation: falling_matrix_numbers 3.5s linear infinite;
}
@keyframes falling_matrix_numbers {
    0%{
      transform: translateY(-70vh);
      opacity: 0;
      scale:0.5;
    }
    100%{
      transform: translateY(80vh);
      opacity: 1;
      scale: 1;
    }
}
.websites_first_parallax{
    background-image:url("../../assets/images/websites/websites_intro.webp");
    min-height: 700px;
    max-height: 700px;
    height: 700px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
}
.websites_matrix_container > h3{
    position: absolute;
    top: calc(350px);
    left: calc(50vw - 120px);
}
.websites_second_parallax{
    min-height:700px;
    max-height: 700px;
    background-size: contain;
    position: relative;
    z-index: 10;
 }
 .websites_third_parallax{
     min-height: 700px;
     max-height:700px;
     background-size: cover;
 }
 .websites_forth_parallax{
     min-height: 700px;
     max-height: 700px;
     background-size: cover;
 }
 .websites_first_parallax,
 .websites_second_parallax,
 .websites_third_parallax,
 .websites_forth_parallax{
     width: 100%;
     height:100%;
     max-height: 100px;
     background-attachment: fixed;
     background-position: center;
     background-repeat: no-repeat;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     position: relative;
 }
 .website_ceata{
     position: absolute;
     width: 100%;
     height: 100%;
     top: 0;
     left: 0;
     background-color: rgba(0, 0, 0, 0.4);
     z-index: 1;
 }  
 .websites_white_text_contianer,
 .websites_green_text_contianer{
     width: 100%;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     padding: 2rem 0;
     z-index: 10;
     position: relative;
 }
 .websites_titles{
    font-size: 40px;
    z-index: 2;
    font-family: "Roboto";
    color: white;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25); 
    backdrop-filter: blur(6px);
    border-radius: 13px 0 13px 0;
    padding: .5rem 1.8rem;
    font-weight: 500;
    background: rgba(0, 0, 0, 0.5);
    border: 4px solid rgb(0, 36, 0);
 }
 .websites_white_text_contianer{
     flex-direction: column;
     background-color: black;
 }
 .websites_white_text_contianer p,
 .websites_green_text_contianer  p{
     font-family: "Roboto";
     max-width: 600px;
     text-align: center;
     font-size: 18px;
     color: #d7d7d7;
     letter-spacing: 0.2px;
     line-height: 30px;
 }
 .websites_white_text_contianer h1,
 .websites_green_text_contianer h1{
    font-size: 30px;
    font-family: "Roboto";
    width: 100%;
    text-align: center;
    color: white ;
 }  
 .websites_green_text_contianer h1,
 .websites_green_text_contianer p{
     color: white !important;
 }
 .websites_green_text_contianer{
     background-color: rgb(0, 0, 0);
 }

 @media screen and (min-width: 1700px){
     .websites_matrix_container{
        max-height:60vh;
     }
     .websites_matrix_container > h3{
        top: calc(30vh - 37px);
        left: calc(50vw - 120px);
    }
    .website_computer_parallax{
        max-height: 80vh;
        height: 80vh;
        min-height: unset;
    }
     .websites_third_parallax{
         min-height: 80vh;
     }
     .websites_forth_parallax{
         min-height: 80vh;
     }
     .websites_titles{
         font-size: 50px;
     }
     .websites_white_text_contianer,
     .websites_green_text_contianer{
        padding: 4rem 0;
     }
     .websites_white_text_contianer h1,
     .websites_green_text_contianer h1{
      font-size: 35px;
     } 
     .websites_white_text_contianer p,
     .websites_green_text_contianer p{
      font-size: 25px;
      max-width: 1000px;
      line-height: 40px;
     } 
 }
 @media screen and (max-width: 700px){
     .websites_white_text_contianer,
     .websites_green_text_contianer{
         padding: 2rem 15px;
     }
     .websites_first_parallax,
     .websites_second_parallax,
     .websites_third_parallax,
     .websites_forth_parallax{
     background-attachment: scroll;
     background-position: center center;
     min-height: 500px;
     /* padding: 0 2rem; */
 }
 .websites_second_parallax > h3{
       margin-top: -250px;
 }
 .websites_titles{
    text-align: center;
 }
 } 
 @media screen and (max-width:500px){
    .websites_matrix_container{
        max-height: 60vh;
        height: 60vh;
    }
    .websites_matrix_container > h3{
        top: calc(30vh - 37px);
        left: calc(50vw - 120px);
    }
     .websites_titles{
      font-size: 27px;
      left:calc(50vw - 89px) !important;
     }
     .websites_white_text_contianer > p,
     .websites_green_text_contianer > p{
         font-size: 16px;
     }
     .websites_button{
         font-size: 16px;
     }
     .homeBranding_business_card{
     width: 300px;
     height: 171px;
     }
     .websites_second_parallax{
        min-height: 300px;
     }
     .websites_second_parallax > h3{
         margin-top: -200px;
   }
   .websites_white_text_contianer h1,
     .websites_green_text_contianer h1{
      line-height: 35px;
      margin-bottom: 10px;
     } 
 
 }
