.braning_new{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.branding_second_parallax{
   min-height:60vh;
   background-size: contain;
}
.branding_third_parallax{
    min-height: 100vh;
    background-size: cover;
}
.branding_forth_parallax{
    min-height: 90vh;
    background-size: cover;
}
.braning_first_parallax,
.branding_second_parallax,
.branding_third_parallax,
.branding_forth_parallax{
    width: 100%;
    height:100%;
    max-height: 100px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}
.ceata{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.4);
    z-index: 1;
} 
.homeBranding_business_card {
    width: 350px;
    height: 200px;
    position: relative;
    transform-style: preserve-3d;
    animation: rotate_card 5s linear infinite;
    margin-top: 50px;
    z-index: 3;
}

.homeBranding_side {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-size: cover;
}

.back {
    transform: rotateY(180deg);
}

@keyframes rotate_card {
    0% {
        transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    25% {
        transform: rotateX(10deg) rotateY(90deg) rotateZ(-5deg);
    }
    50% {
        transform: rotateX(20deg) rotateY(180deg) rotateZ(-10deg);
    }
    75% {
        transform: rotateX(10deg) rotateY(270deg) rotateZ(-5deg);
    }
    100% {
        transform: rotateX(0deg) rotateY(360deg) rotateZ(0deg);
    }
}
.branding_white_text_contianer,
.branding_green_text_contianer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
}
.branding_titles{
    font-size: 40px;
    letter-spacing: 2px;
    z-index: 2;
    font-family: "Roboto";
    padding: 7px 18px;
    border-radius: 10px;
    color: white;
    background-color: rgb(67, 133, 67);
    margin-top: 50px;
}
.branding_white_text_contianer{
    flex-direction: column;
}
.branding_white_text_contianer p,
.branding_green_text_contianer  p{
    font-family: "Roboto";
    max-width: 600px;
    text-align: center;
    font-size: 18px;
    color: #666666;
    letter-spacing: 0.2px;
    line-height: 30px;
}
.branding_white_text_contianer h1,
.branding_green_text_contianer h1{
   font-size: 30px;
   font-family: "Roboto";
   width: 100%;
   text-align: center;
}  
.branding_green_text_contianer h1,
.branding_green_text_contianer p{
    color: white !important;
}
.branding_green_text_contianer{
    background-color: #438543;
}
.branding_button{
    background-color: #438543;
    padding: 10px 25px;
    font-family: "Roboto";
    color: white;
    font-weight: 500;
    font-size: 20px;
    border-radius: 10px;
    margin: 2rem 0;
}
.branding_button:hover{
    background-color: #387038;
}
@media screen and (min-width: 1700px){
    .branding_second_parallax{
       min-height:60vh;
    }
    .branding_third_parallax{
        min-height: 100vh;
    }
    .branding_forth_parallax{
        min-height: 90vh;
    }
    .branding_titles{
        font-size: 70px;
    }
    .branding_white_text_contianer,
    .branding_green_text_contianer{
       padding: 4rem 0;
    }
    .branding_white_text_contianer h1,
    .branding_green_text_contianer h1{
     font-size: 50px;
    } 
    .branding_white_text_contianer p,
    .branding_green_text_contianer p{
     font-size: 30px;
     max-width: 1000px;
     line-height: 50px;
    } 
    .branding_button{
       font-size: 32px;
       margin: 4rem 0;
    }
    .homeBranding_business_card {
        width: 550px;
        height: 314px;

    }

}
 @media screen and (max-width: 1100px){
    .branding_third_parallax{
        background-position: left;
    }
}
@media screen and (max-width: 700px){
    .branding_white_text_contianer,
    .branding_green_text_contianer{
        padding: 2rem 15px;
    }
    .braning_first_parallax,
    .branding_second_parallax,
    .branding_third_parallax,
    .branding_forth_parallax{
    background-attachment: scroll;
    background-position: center center;
    min-height: 500px;
}
.branding_second_parallax > h3{
      margin-top: -250px;
}
} 
@media screen and (max-width:500px){
    .branding_titles{
     font-size: 30px;
    }
    .branding_white_text_contianer > p,
    .branding_green_text_contianer > p{
        font-size: 16px;
    }
    .branding_button{
        font-size: 16px
    }
    .homeBranding_business_card{
    width: 300px;
    height: 171px;
    }
    .branding_second_parallax{
       min-height: 300px;
    }
    .branding_second_parallax > h3{
        margin-top: -200px;
  }
  .branding_white_text_contianer h1,
    .branding_green_text_contianer h1{
     line-height: 35px;
     margin-bottom: 10px;
    } 

}