.home_container{
    width: 100%;
}
.parallax{
    width: 100vw;
    height: 100vh;
    position: relative;
}
.parallax::after{
    content: "";
    width: 100%;
    height: 15px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
   background: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);

}
.parallax > div{
    width: 100vw;
    /* margin-left: 10vw; */
}
.parallax_text{
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.parallax_text > h1{
    color: white;
    font-family: "Roboto";
    font-size: 60px;
    font-weight: 400;
    margin-top: -250px;
}
.parallax_sky_clone{
    position: absolute;
    background: linear-gradient(192deg, rgba(2, 56, 181, 1) 0%, rgba(64, 173, 248, 1) 100%);    
    width: 100vw;
    height: 100vh;
    z-index: 99;
}
.home_main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 0 4rem;
}
.home_main_content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.home_main_content_title_and_text{
   background-color: #eee;
   max-width: 500px;
   padding: 20px 25px;
   border-radius: 8px;
   -webkit-box-shadow: 0 2px 12px -4px rgba(0, 0, 0, 0.2);
   box-shadow: 0 2px 12px -4px rgba(0, 0, 0, 0.2);
   border: 1px solid rgba(0, 0, 0, 0.05);
   /* margin-right: 20px; */
}
.home_main_content_image{
      width: 42%;
      max-width: 700px;
      padding: 5px;
}
.home_main_content_image > img{
      width: 100%;
      height: auto;
      object-fit: contain;
}
.home_main_content_title_and_text > h1{
    font-family: "Roboto";
    font-size: 25px;
    color: #333333;
    letter-spacing: 0.3px;
    margin-bottom: 10px;
    line-height: 30px;
    font-weight: 500;
}
.home_main_content_title_and_text > h2{
    font-family: "Roboto";
    font-size: 16px;
    color: #555555;
    letter-spacing: 0.3px;
    font-weight: 500;
}
.home_main > h1{
    margin:  0 4rem;
    font-family: "Roboto";
    font-size: 40px;
    color: var(--blue);
    background: linear-gradient(to right, #0082e6, #8a2be2);
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
}
.home_about_us{
    min-height: 100vh;
    width: 100%;
}
.home_main > p{
    margin: 0 4rem;
    font-family: "Roboto";
    color: #444444;
    font-size: 18px;
    letter-spacing: 0.3px;
    font-weight: 500;
    max-width: 500px;
}
.home_plans_description{
    background-color: #eddede;
    margin: 0 4rem;
    display: flex;
    align-items: center;
    justify-self: center;
    flex-direction: row;
}
.home_plans_description  div{
    background-color: #b9b9b9;
    border-radius: 8px;
    padding: 10px;
}