.home_container{
 min-height: 500vh;
}
.parallax,
.secondParallax{
    width: 100vw;
    height: 100vh;
}
.secondParallax{
    /* margin-top: 150px; */
}
.parallax > div{
    width: 100vw;
    /* margin-left: 10vw; */
}
.parallax_text{
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.parallax_text > h1{
    color: white;
    font-family: "Roboto";
    font-size: 60px;
    font-weight: 400;
    margin-top: -200px;
}
.gradient_overlay{
    position: absolute;
    inset: 0;
    background: linear-gradient(to top, #212121, #4f2106);
}
.secondParallax_text{
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.secondParallax_text > h1{
    color: rgb(255, 255, 255);
    font-family: "Roboto";
    font-size: 30px;
    font-weight: 500;
    max-width: 500px;
    text-align: center;
}
.secondParallax_text > p{
    color:white;
    font-family: "Roboto";
    max-width: 500px;
    text-align: center;
    font-weight: 500;
    margin-top: 10px;
    font-size: 17px;
}
.separation_div{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.separation_div > h1 {
    color: rgb(50, 50, 50);
    font-family: "Roboto";
    max-width: 500px;
    text-align: center;
}
.separation_div > p{
    max-width: 500px;
    text-align: center;
    color: black;
    font-family: "Roboto";
    font-size: 18px;
}
