.navbar_container{
    max-width: 100vw;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 0px 4rem 0px 4rem;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    position: fixed;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
} 
.navbar_dark .navbar_menu-icon{
   background-color: black;
}
.navbar_dark{
    color: white;
    background-color: black !important;
}
.navbar_dark > svg{
   color:white;
} 
.navbar_dark a button{
    color: white;
}

.navbar_shadowEffect{
    content: "";
    width: 100%;
    height: 15px;
    position: absolute;
    left: 0;
    bottom: -15px;
    z-index: 99;
}
.navbar_logo{ 
    height: 45px;
    max-height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;

}
.navbar_logo > img{
    height: 100%;
    object-fit: contain;
}
.navbar_buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    height: 100%;
    
}
.navbar_menu-icon{
    padding: 5px;
    width: 40px;
    min-width: 40px;
    height:40px;
    min-height: 40px;
    border-radius: 8px;
    color: var(--green);
    background-color: white;
    box-shadow: 0 0px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}
.navbar_close_icon{
    width: 40px;
    height: 40px;
    min-width: 40px;
    min-height: 40px;
    color: white;
}

.navbar_dark .navbar_buttons{
    background-color: black;
}
.navbar_buttons > a{
    text-decoration: none;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
/* language btns and container */
.navbar_languages{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-right: 10px;
}
.navbar_language_btn_nonSelected{
   margin: 0 3px;
   background: transparent;
   color: var(--green);
   font-family: var(--font-fam);
   font-size: 15px;
   width: 40px;
   border-radius: 40px;
   height: 25px;
   /* font-weight: 500; */
   border: 1.5px solid var(--green);
}
.navbar_language_btn_activated{
    margin: 0 3px;
   color: white;
   font-family: var(--font-fam);
   font-size: 15px;
   width: 40px;
   height: 25px;
   /* font-weight: 500; */
   border-radius: 40px;
    background-color: var(--green);
}
.show_menu_icon_clicked .navbar_languages{
   margin-right: unset;
   margin-bottom:15px;
}
.show_menu_icon_clicked .navbar_language_btn_activated{
    background-color: white;
    color: var(--green);
}
.show_menu_icon_clicked .navbar_language_btn_nonSelected{
    border: 1.5px solid white;
    color: white;
}
.navbar_buttons > a > button {
    border: none;
    background-color: unset;
    height: 100%;
    font-size: 15px;
    cursor: pointer; 
    font-family: var(--font-fam);
    font-weight: 600;
    letter-spacing: 0.1px;
    padding: 0 10px
} 
.navbar_call_to_action_btn{
    position: fixed;
    bottom: 20px;
    right: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: var(--green);
    border-radius: 10px;
    padding: 5px 10px;
    text-transform: uppercase;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    font-family: var(--font-fam);
    font-weight: 500;
    text-decoration: none;
    z-index: 2 !important;
}
.navbar_call_to_action_btn > svg{
    color: white;
    width: 18x;
    height: 18px;
    margin-left: 5px;
    margin-top: 2.6px;
}
.navbar_call_to_action_btn:hover{
    background-color:var(--greenHover);
}
@media screen and (min-width: 1600px){
    .navbar_container{
        padding:0 18vw 0 18vw;
    }
    .navbar_call_to_action_btn{
        right:18vw
    }
}
@media screen and (min-width:970px){
    .navbar_menu-icon,
    .navbar_close_icon{
       display: none;
    }
}
@media screen and (max-width:970px){
        .navbar_logo{
        height: 42.5px;
        max-height: 42.5px;
        }
    .navbar_logo > img{
        height: 42.5px;
    }
    .navbar_buttons{
        display: none;
    } 
    .navbar_buttons > a > button {
        height: unset;
        margin: 10px 0;
        color: white;
    }
}
.show_menu_icon_clicked{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--green);
    border-radius: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    z-index: 98;
    animation: left_scrolling_mobile_menu 0.4s ease forwards;
} 
.navbar_close_icon{
    z-index: 99;
    position: absolute;
    right: 4rem;
    width: 20px;
    height: 20px;
    color: white;
}
.navbar_contact{
    background-color: var(--green);
    /* border-radius: 10px;
    display: flex;
    height: 40px !important;
    align-items: center;
    justify-content: center;
    min-width: 110px;
    margin-left: 10px; */
}
.navbar_contact:hover{
    background-color:var(--greenHover);
}
.navbar_contact > button{
    color: white !important;
    /* margin: 0 !important; */
}
@keyframes left_scrolling_mobile_menu {
    0%{
        transform: translateX(100vw);
    }
    100%{
        transform: translateX(0);
    }
}
@media screen and (max-width:970px){
    .navbar_container{
        padding: 7.5px 15px 0 15px;
        background-color: white;
        top: 0;
        padding:5px 15px;
        height: unset;
        border-bottom: 2px solid var(--green); 
    }
    .navbar_call_to_action_btn{
        right: 15px
    }
    .navbar_close_icon{
        right: 15px;
    }
    .navbar_logo > img,
    .navbar_menu-icon{
        box-shadow: unset;
    }
    .navbar_buttons > a {
        height: unset;
        width: unset;
    }
}