.navbar_container{
    max-width: 100vw;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 0px 4rem 0px 4rem;
    top: 10px;
    left: 0;
    right: 0;
    z-index: 99;
    position: fixed;
} 
.navbar_dark .navbar_menu-icon{
   background-color: black;
}
.navbar_dark{
    color: white;
    background-color: black !important;
}
.navbar_dark > svg{
   color:white;
} 
.navbar_dark a button{
    color: white;
}

.navbar_shadowEffect{
    content: "";
    width: 100%;
    height: 15px;
    position: absolute;
    left: 0;
    bottom: -15px;
    z-index: 99;
}
.navbar_logo{ 
    height: 42.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;

}
.navbar_logo > img{
    height: 42.5px;
    object-fit: contain;
    border-radius: 10px;
    box-shadow: 0 0px 4px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}
.navbar_buttons{
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}
.navbar_menu-icon{
    padding: 5px;
    width: 40px;
    min-width: 40px;
    height:40px;
    min-height: 40px;
    border-radius: 8px;
    color: var(--green);
    background-color: white;
    box-shadow: 0 0px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}
.navbar_close_icon{
    width: 40px;
    height: 40px;
    min-width: 40px;
    min-height: 40px;
    color: white;
}

.navbar_dark .navbar_buttons{
    background-color: black;
}
.navbar_buttons > a{
    text-decoration: none;
    user-select: none;
}
.navbar_buttons > a:nth-child(1),
.navbar_buttons > a:nth-child(2),
.navbar_buttons > a:nth-child(3),
.navbar_buttons > a:nth-child(4),
.navbar_buttons > a:nth-child(5),
.navbar_buttons > a:nth-child(6){
    margin:0 5px;
}


.navbar_buttons > a > button {
    border: none;
    background-color: unset;
    height: 100%;
    padding: 5px 10px;
    font-size: 15px;
    cursor: pointer;
    font-family:"Roboto";
    font-weight: 500;
    letter-spacing: 0.1px;
} 

@media screen and (min-width: 1600px){
    .navbar_container{
        padding:7.5px 18vw 0 18vw;
    }
}
@media screen and (min-width:970px){
    .navbar_menu-icon,
    .navbar_close_icon{
       display: none;
    }
}
@media screen and (max-width:970px){
    .navbar_buttons{
        display: none;
    } 
    .navbar_buttons > a > button {
        height: unset;
        margin: 10px 0;
        color: white;
    }
}
.show_menu_icon_clicked{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--green);
    border-radius: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    z-index: 98;
    animation: left_scrolling_mobile_menu 0.7s ease forwards;
} 
.navbar_close_icon{
    z-index: 99;
    position: absolute;
    right: 4rem;
    width: 20px;
    height: 20px;
    color: white;
}
.navbar_contact{
    background-color: var(--green);
    border-radius: 10px;
    padding: 5px;
    margin-left: 5px;
}
.navbar_contact:hover{
    background-color:var(--greenHover);
}
.navbar_contact > button{
    color: white !important;
    margin: 0 !important;
}
@keyframes left_scrolling_mobile_menu {
    0%{
        transform: translateX(100vw);
    }
    100%{
        transform: translateX(0);
    }
}
@media screen and (max-width:970px){
    .navbar_container{
        padding: 7.5px 15px 0 15px;
        background-color: white;
        top: 0;
        padding:5px 15px;
        height: unset;
        border-bottom: 2px solid var(--green); 
    }
    .navbar_close_icon{
        right: 15px;
    }
    .navbar_logo > img,
    .navbar_menu-icon{
        box-shadow: unset;
    }
}