.navbar_container{
    max-width: 100vw;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 0px 4rem 0px 4rem;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    /* background-color: rgb(255, 255, 255); */
    /* border-bottom: 1px solid #eee; */
    /* -webkit-box-shadow: 0 2px 12px -4px rgba(0, 0, 0, 0.1); */
    /* box-shadow: 0 2px 12px -4px rgba(0, 0, 0, 0.1); */
} 
.navbar_dark{
    color: white;
}
.navbar_dark > svg{
   color:white;
} 
.navbar_dark a button{
    color: white;
}

.navbar_shadowEffect{
    content: "";
    width: 100%;
    height: 15px;
    position: absolute;
    left: 0;
    bottom: -15px;
    z-index: 99;
}
.navbar_logo{ 
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar_logo > img{
    width: 140px;
    height: auto;
    object-fit: contain;
}
.navbar_buttons{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: 50px;
    flex-direction: row;
}
.navbar_buttons > a{
    text-decoration: none;
    user-select: none;
}
.navbar_buttons > a > button {
    margin-left: 5px;
    border: none;
    background-color: unset;
    height: 100%;
    padding: 0 10px;
    font-size: 15px;
    cursor: pointer;
    font-family:"Roboto";
    font-weight: 500;
    letter-spacing: 0.1px;
} 

@media screen and (min-width: 1600px){
    .navbar_container{
        padding:7.5px 18vw 0 18vw;
    }
}
@media screen and (min-width:970px){
    .navbar_menu-icon,
    .navbar_close_icon{
       display: none;
    }
}
@media screen and (max-width:970px){
    .navbar_buttons{
        display: none;
    } 
    .navbar_buttons > a > button {
        height: unset;
        margin: 10px 0;
        color: white;
    }
}
.show_menu_icon_clicked{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    z-index: 98;
    animation: left_scrolling_mobile_menu 0.7s ease forwards;
} 
.navbar_close_icon{
    z-index: 99;
    position: absolute;
    right: 4rem;
    width: 20px;
    height: 20px;
    color: white;
}
@keyframes left_scrolling_mobile_menu {
    0%{
        transform: translateX(100vw);
    }
    100%{
        transform: translateX(0);
    }
}
@media screen and (max-width:590px){
    .navbar_container{
        padding: 7.5px 15px 0 15px;
    }
    .navbar_close_icon{
        right: 15px;
    }
}