*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --green:#085c2b;
    --greenHover: #094b25;

    --font-fam: system-ui, sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
